body {
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: #40514E;
}

p {
  line-height: 1.5;
}


h1 {
margin: 50px auto 0 auto;
font-family: 'Rammetto One', cursive;
font-size: 400%;
color: #66BFBF;

}

h2 {
font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;
color: #66BFBF;
padding-bottom: 10px;
}

h3 {
font-family: 'Montserrat', sans-serif;
color: #11999E;
}

a {
  color: #11999E;
  text-decoration: none;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: #EAF6F6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #40514e;
  border-width: 6px;
  width: 7%;
  margin: 100px auto;
}

.top-container {
  background-color: #f1fcfc;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.sub {
  font-weight: normal;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.middle-container {
  margin: 100px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.skill-logo1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-logo2 {
  width: 25%;
  float: right;
  padding-top: 30px;
  padding-right: 30px;
}

.myface {
  border-radius: 50%;
}

.contact-me {
  margin: 50px auto 50px auto;
}

.bottom-container {
  position: relative;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #66BFBF;
}

.footer {
  margin: 10px auto 10px auto;
  line-height: 2;
}

.btn {
	background:linear-gradient(to bottom, #7fffdf 5%, #1fad8a 100%);
	background-color:#7fffdf;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:28px;
	padding:7px 10px;
	text-decoration:none;
}
.btn:hover {
	background:linear-gradient(to bottom, #1fddff 5%, #7fecff 100%);
	background-color:#1fad8a;
}
.btn:active {
	position:relative;
	top:1px;
}

.copy {
  color: #EAF6F6;
  font-size: 1rem;
}
